<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= current_page.data.title || "BÓ Arkitektar" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <nav role="navigation">
    <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
      <a href="#"><li>Heim</li></a>
      <a href="umokkur.html"><li>Um Okkur</li></a>
      <a href="verkefnin.html"><li>Verkefni</li></a>
      <a href="#"><li>Hafðu Samband</li></a>
    </ul>
  </div>
</nav>
    <%= yield %>
  </body>
</html>
