<!DOCTYPE html>
<html lang="is" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

    <body id="background">
      <h1 class="title">
        BÓ Arkitektar
      </h1>
    </body>

</html>
